body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#map {
    height: 500px;
    width: 80%;
    margin: auto;
    border: 2px solid black;
}
button {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
}
